@*@model LAUassignment3.Models.Movie*@
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TwoModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.fileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.fileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(models => models.movie.uploadUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(models => models.movie.uploadUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Movie List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie Title
            </th>
            <th>
                User
            </th>
            <th>
                lastEditDateTime
            </th>
            <th>
                Rating
            </th>
            <th>
                comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Comment item in Model.comments) {
        <tr>
            <td>
                @item.movieTitle
            </td>
            <td>
                @item.user
            </td>
            <td>
                @item.lastEditDateTime
            </td>
            <td>
                @item.rating
            </td>

            <td>
                @item.comment
            </td>
            <td> 
                @if (@User.Identity?.Name == @item.user && (DateTime.Now.Subtract((DateTime)@item.lastEditDateTime)).TotalHours < 24)
                {
                    <a asp-action="Edit" asp-route-id="@item.id" asp-controller="comments">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.id">Details</a>*@
                    <a asp-action="Delete" asp-route-id="@item.id" asp-controller="comments">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>

<hr />

<form method="post" asp-action="Create" asp-controller="Comments" >
    <input type="hidden" name="id" value="0"/>
    <input type="hidden" name="movieTitle" value=@Model.movie.title />
    <input type="hidden" name="user" value=@User.Identity?.Name>
    <input type="hidden" name="lastEditDateTime" value=@DateTime.Now/>
    <input name="rating" type="number" required placeholder="rating" />
    <input name="comment" type="text" class="form-contro" placeholder="write your comments here.."  required/>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
