@model IEnumerable<LAUassignment3.Models.Movie>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @if (@item.fileName.Contains("movie")){
                    <a href="https://centassignment2.s3.ca-central-1.amazonaws.com/2022-05-23+19-57-23.mkv">Download</a>
                } else {
                    <a href="https://centassignment2.s3.ca-central-1.amazonaws.com/2022-05-20+02-20-56.mkv">Download</a>
                }
                <a asp-action="Details" asp-route-id="@item.id">Details</a>
                @if (@User.Identity?.Name == @item.uploadUser){
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
